<p>sign-in-page works!</p>



<div class="container">

  
  
    <form class="gap-3">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email">
    </div>
  
    <div class="alert alert-danger" role="alert" *ngIf="email?.touched ">
  email is required  </div>
    
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="password"
       >
    </div>
  
    <!-- <div class="alert alert-danger" role="alert" *ngIf="password?.minLength(8) ">
      email is required  </div> -->
  
      <!-- <div *ngIf="password?.errors?.['minlength']">
        Name must be at least 8 characters long.
      </div> -->
  
  
  
  
  
    
    
    
    
    
    <button type="submit" class="form-control btn btn-primary submit px-3">Login</button>
  </form>
  </div>