<div class="header">
  <nav>
    <!-- <img src="" alt="logo" class="logo">  -->
    <a>
      <i class="fa fa-globe" [routerLink]="['/home']"> vacation</i>
    </a>
    <ul class="nav-links">
      <li><a href="">link1</a></li>
      <li><a href="">link2</a></li>
      <li><a href="">link3</a></li>
      <li><a href="">link4</a></li>
    </ul>
    <a href="" class="register-btn">Register Now</a>
  </nav>
  <div class="container">
    <h1>Find You Next Stay</h1>
  </div>
</div>

<!-- card -->

<div class="Cantainer">
  <div class="row clearfix">
    <div class="card col-md-3 col-sm-6 col-xs-12" *ngFor="let item of prop">
      <img
        class="img-responsive"
        src="./assets/images/house-1.png"
        alt=""
        [routerLink]="['/userView', item.id]"
      />
      <div class="intro">
        <h1>{{ item.name }}</h1>
        <p>
          The
          <span
            >location:{{ item.address }} <br />
            Rooms:{{ item.bedroomCount }} <br />
            Gests{{ item.accomodatesCount }}</span
          >
        </p>
      </div>
    </div>
  </div>
</div>
