<!-- header -->
<div class="header">
  <!-- <nav>

    <a routerLink="/home">
      <i class="fa fa-globe" > vacation</i>
    </a>
    <ul class="nav-links">
      <li><a href="">link1</a></li>
      <li><a href="">link2</a></li>
      <li><a href="">link3</a></li>
      <li><a href="">link4</a></li>
    </ul>
    <a href="" class="register-btn">Register Now</a>
  </nav> -->
  <nav class="navbar navbar-expand-xl  navbar-dark" id="navbarNav">
    <div class="container mb-3">
        <!--Logo-->
        <a href="#" class="navbar-brand logo">Vacation</a>

        <!--When the window get smaller, a menue button will apperar on the left-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavv" aria-controls="navbarNavv" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        <!--Menue-->
        <div class="collapse navbar-collapse ms-auto" id="navbarNavv">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="#home" class="nav-link" id="RegBtn">Home</a>
                </li>

                <li class="nav-item">
                    <a href="#ex" class="nav-link" id="RegBtn">Explore World</a>
                </li>

                <li class="nav-item">
                    <a  routerLink="/profile" class="nav-link" id="RegBtn">Profile</a>
                </li>

                <li class="nav-item">
                    <a href="#contact" class="nav-link" id="RegBtn">Contact</a>
                </li>

                <li class="nav-item pe-5">
                    <a routerLink="/host" class="nav-link" id="RegBtn">Become a Host</a>
                </li>

                <li class="nav-item ">
                  <a routerLink="/hostProfile" class="nav-link" id="RegBtn" (click)="goToProfile()">Host Properties</a>
              </li>

                <li class="nav-item pe-1">
                    <a >
                        <button type="submit" class="btn" id="signInBtn" (click)="log()">{{this.btntxt}}</button>
                    </a>
                </li>

                <li class="nav-item">
                    <a >
                        <button type="submit" class="btn btn-outline-light" id="RegBtn" routerLink="/signup">Register</button>
                    </a>

                </li>
            </ul>
        </div>
    </div>
</nav>
  <div class="container">
    <h1>Find Your Next Stay</h1>
  </div>
</div>

<!-- body -->
<div class="Cantainer" id="ex">
  <div class="row clearfix">
    <div class="card col-md-3 col-sm-6 " *ngFor="let item of prop">
      <img
        class="img-responsive"
        [src]="item.url"
        alt=""
        [routerLink]="['/userView', item.id]"
      />
      <div class="intro">
        <h1>{{ item.name }}</h1>
        <p>
          <span
            >location:{{ item.address }} <br />
            Rooms:{{ item.bedroomCount }} <br />
            Gests{{ item.accomodatesCount }}<br/>
            Price:{{ item.price |currency }} &nbsp; {{item.currencyId.name}}<br/>

            </span
          >
        </p>
      </div>
    </div>
  </div>
</div>



<!-- footer -->
<footer class="text-center text-white" style="background-color: #f1f1f1;">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-linkedin"></i
      ></a>
      <!-- Github -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:ITI project
    <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>


