@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*
{
    font-family: 'poppins', sans-serif !important;
    scroll-behavior: smooth;
}

/* body
{
    background: linear-gradient(45deg,#2b121c, #40679c);
    min-height: 100vh;
} */
::-webkit-scrollbar
{
    width: 8px;
}

::-webkit-scrollbar-thumb
{
    background: linear-gradient(to top,#2b121c, #40679c);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover
{
    background: #6f263e;

}

.logo
{
    color: #fff !important;
    font-weight: 700 !important;
    text-decoration: none !important;
    font-size: 1.5em !important;
    letter-spacing: 2px !important;

}



.navbar a
{
    color: #fff !important;
}

.navbar
{
    position:static !important;
    background:none !important;
}

#signInBtn
{
    background-color: #6f263e !important;
    color: #fff !important;
    border-radius: 50px !important;
}

#signInBtn:hover
{
    background-color: #9d3a4b !important;
}

#RegBtn:hover
{
    color: #9d3a4b !important;
}

.btn
{
    border-radius: 20px !important;
}




*{
  margin:0 ;
  /* padding: 0; */
  box-sizing: border-box;
  /* font-family:'poppins' , 'sans-serif'; */
}


.header{
  min-height: 100vh;
  width: 100%;
  background:linear-gradient(-225deg, rgba(0,0,0,0.6) 50%, rgba(0,36,61,0.6) 80%),url(/assets/images/banner.png);
  background-size: cover;
  background-position: center;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 7%;
}

.logo{
  width: 140px;
  cursor: pointer;
}


.nav-links li {
  list-style: none;
  display: inline-block;
  margin: 10px 30px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;

}
.register-btn{
  background: #fff;
  color: #000;
  padding: 8px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 14px;
}

/* .container{
  padding: 0 ;

} */

.header h1{
  font-size: 4vw;
  font-weight: 500;
  color: #fff;
  text-align: center;
  padding-top: 22%;
}




.Cantainer{
  display: flex;
}
.card{
  height: 400px;
  margin: 50px;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
}

img{
  height: 500px;
  width: 100%;
  border-radius: 3px;
}
.intro{
height: 70px;
width:290px;
padding: 6px;
box-sizing: border-box;
position: absolute;
margin-block-start: 330px;
background: rgb(27,27,27,.5);
color: #fff;
transition: 0.5s;
font-size: 10px;
}

h1{
  /* margin: 10px; */
  font-size: 15px;
}

p{
  font-size: 10px;
  margin: 20px;
  visibility: hidden;
  opacity: 0;
}

span{
  font-weight: bold;
}

.card:hover{
  cursor: pointer;
}

.card:hover .intro{
  height: 200px;
margin-block-start: 230px;
  background-color: rgba(0, 0, 0, 0.571);
}

.card:hover p{
  opacity: 1;
  visibility: visible;
}


@media (max-width: 575.98px) {
   .card {
      width: 50%;
  }
}
/* footer */
