<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />


<div class="container p-0">
    <h1 class="h3 mb-3">Settings</h1>
    <div class="row">
        <div class="col-md-5 col-xl-4">

            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Profile Settings</h5>
                </div>

                <div class="list-group list-group-flush" role="tablist">
                    <a class="list-group-item list-group-item-action active" data-toggle="list"  role="tab" (click)="account()">
                      Account
                    </a>
                    <a class="list-group-item list-group-item-action " data-toggle="list"  role="tab"(click)="chagnePassword()" >
                      Password
                    </a>
                    <!-- <a class="list-group-item list-group-item-action" data-toggle="list" href="#" role="tab">
                      Privacy and safety
                    </a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#" role="tab">
                      Email notifications
                    </a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#" role="tab">
                      Web notifications
                    </a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#" role="tab">
                      Widgets
                    </a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#" role="tab">
                      Your data
                    </a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#" role="tab">
                      Delete account
                    </a> -->
                </div>
            </div>
        </div>

        <div class="col-md-7 col-xl-8">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="account" role="tabpanel">

                    <!-- <div class="card" [hidden]="openPasswordPage">
                        <div class="card-header">
                            <div class="card-actions float-right">
                                <div class="dropdown show">
                                    <a href="#" data-toggle="dropdown" data-display="static">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal align-middle">
                                            <circle cx="12" cy="12" r="1"></circle>
                                            <circle cx="19" cy="12" r="1"></circle>
                                            <circle cx="5" cy="12" r="1"></circle>
                                        </svg>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <h5 class="card-title mb-0">Public info</h5>
                        </div>
                        <div class="card-body"> -->
                            <!-- <form>
                                <div class="row">
                                    <div class="col-md-8"> -->
                                        <!-- <div class="form-group">
                                            <label for="inputUsername">Username</label>
                                            <input type="text" class="form-control" id="inputUsername" placeholder="Username">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputUsername">Biography</label>
                                            <textarea rows="2" class="form-control" id="inputBio" placeholder="Tell something about yourself"></textarea>
                                        </div> -->
                                    <!-- </div>
                                    <div class="col-md-4">
                                        <div class="text-center">
                                            <img alt="Andrew Jones" src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle img-responsive mt-2" width="128" height="128">
                                            <div class="mt-2">
                                                <span class="btn btn-primary"><i class="fa fa-upload"></i></span>
                                            </div>
                                            <small>For best results, use an image at least 128px by 128px in .jpg format</small>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </form> -->

                        <!-- </div>
                    </div> -->

                    <div class="card" [hidden]="openPasswordPage">
                        <div class="card-header">
                            <div class="card-actions float-right">
                                <div class="dropdown show">
                                    <!-- <a href="#" data-toggle="dropdown" data-display="static">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal align-middle">
                                            <circle cx="12" cy="12" r="1"></circle>
                                            <circle cx="19" cy="12" r="1"></circle>
                                            <circle cx="5" cy="12" r="1"></circle>
                                        </svg>
                                    </a> -->

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <h5 class="card-title mb-0">Puplic info</h5>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="upProfile" >
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputFirstName">First Name</label>
                                        <input [ngModelOptions]="{standalone: true}"  disabled type="text" class="form-control" id="inputFirstName" placeholder="First name" [value]="updateProfile.firstName" [(ngModel)]="updateProfile.firstName">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputLastName">Last Name</label>
                                        <input [ngModelOptions]="{standalone: true}" disabled type="text" class="form-control" id="inputLastName" placeholder="Last name"[value]="updateProfile.lastName" [(ngModel)]="updateProfile.lastName">
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Email</label>
                                    <input [ngModelOptions]="{standalone: true}" disabled type="email" class="form-control" id="inputEmail4" placeholder="Email"[value]="updateProfile.email" [(ngModel)]="updateProfile.email">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputAddress">Date Of Birth</label>
                                    <input  formControlName="dateOfBirth" type="date" class="form-control" id="inputAddress" placeholder="28/3/1997" [(ngModel)]="updateProfile.dateOfBirth" >
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress2">FacebookID</label>
                                    <input  formControlName="facebookId" type="text" class="form-control" id="inputAddress2" placeholder="Mohamedayman1997" [(ngModel)]="updateProfile.facebookId">
                                </div>
                                <div class="form-group">
                                  <label for="inputAddress2">TwitterID</label>
                                  <input formControlName="twitterId" type="text" class="form-control" id="inputAddress2" placeholder="@ Mohamedayman1997" [(ngModel)]="updateProfile.twitterId">
                              </div>
                              <div class="form-group">
                                <label for="inputUsername">Biography</label>
                                <textarea  formControlName="about" rows="1" class="form-control" id="inputBio" placeholder="Tell something about yourself" [(ngModel)]="updateProfile.about"></textarea >
                            </div>
                                <button type="submit" class="btn btn-primary m-2"(click)="update()">Save changes</button>
                            </form>

                        </div>
                    </div>

                    <!-- <div class="tab-pane fade" id="password" role="tabpanel"> -->
                        <div class="card" [hidden]="!openPasswordPage">
                            <div class="card-body">
                                <h5 class="card-title">Password</h5>

                                <form [formGroup]="upPass" >
                                    <div class="form-group p-2">
                                        <label for="inputPasswordCurrent">Current password</label>
                                        <input formControlName="oldPassword" type="password" class="form-control" id="inputPasswordCurrent" [(ngModel)]="changePassword.oldPassword">

                                    </div>
                                    <div class="form-group p-2">
                                        <label for="inputPasswordNew">New password</label>
                                        <input formControlName="newPassword" type="password" class="form-control" id="inputPasswordNew" [(ngModel)]="changePassword.newPassword">
                                    </div>

                                    <button type="submit" class="btn btn-primary"(click)="changePass()">Save changes</button>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

<!-- </div> -->
