@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*
{
    font-family: 'poppins', sans-serif !important;
    scroll-behavior: smooth;
}

::-webkit-scrollbar
{
    width: 8px;
}

::-webkit-scrollbar-thumb
{
    background: linear-gradient(to top,#2b121c, #40679c);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover
{
    background: #6f263e;

}
body{
  margin-top:20px;
  color: #1a202c;
  text-align: left;
  background-color: #e2e8f0;
}
.main-body {
  padding: 15px;
}
.card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}
.h-100 {
  height: 100%!important;
}
.shadow-none {
  box-shadow: none!important;
}
/* navbar */
.logo
{
    color: #fff !important;
    font-weight: 700 !important;
    text-decoration: none !important;
    font-size: 1.5em !important;
    letter-spacing: 2px !important;

}



.navbar a
{
    color: #fff !important;
}

.navbar
{
    position:static !important;
  background: linear-gradient(90deg,#b3adca, #95b7e6)!important;

}
/* .halimo{
  background: linear-gradient(135deg,#1c0766, #95b7e6)!important;

} */
#signInBtn
{
    background-color: #6f263e !important;
    color: #fff !important;
    border-radius: 50px !important;
}

#signInBtn:hover
{
    background-color: #9d3a4b !important;
}

#RegBtn:hover
{
    color: #9d3a4b !important;
}

.btn
{
    border-radius: 20px !important;
}


