<body>
	<div class="halimo">

	<nav class="navbar navbar-expand-xl  navbar-dark" id="navbarNav">
		<div class="container mb-3">
			<!--Logo-->
			<a href="#" class="navbar-brand logo">Vacation</a>
	
			<!--When the window get smaller, a menue button will apperar on the left-->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavv" aria-controls="navbarNavv" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
	
			<!--Menue-->
			<div class="collapse navbar-collapse ms-auto" id="navbarNavv">
				<ul class="navbar-nav ms-auto">
	
	
					<li class="nav-item">
						<a >
							<button type="submit" class="btn btn-outline-light btn-md" id="RegBtn"  [routerLink]="['/userView', HostProp.id]">back </button>
						</a>
	
					</li>
				</ul>
			</div>
		</div>
	  </nav>

	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="col-md-7 col-md-push-5">
						<div class="booking-cta">
							<h1>Make your reservation</h1>
							<p>  A new journey full of happiness awaits you
							</p>
						</div>
					</div>
					<div class="col-md-4 col-md-pull-7">
						<div class="booking-form">
							<div>

                <!-- <div class="form-group">
									<span class="form-label">Your Destination</span>
									<input class="form-control" type="text" placeholder="Enter a destination or hotel name">
								</div> -->
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<span class="form-label">Check In</span>
											<input class="form-control" type="date" required [(ngModel)]="newBook.checkInDate">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<span class="form-label">Check out</span>
											<input class="form-control" type="date" required [(ngModel)]="newBook.checkOutDate">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-4">
										<div class="form-group">
											<span class="form-label">Rooms</span>
											<select #Room class="form-control" (change)="getRoomNumber(Room.value)">
												<option>1</option>
												<option>2</option>
												<option>3</option>
											</select>
											<span class="select-arrow"></span>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<span class="form-label">Adults</span>
											<select #adult class="form-control" (change)="getAdultsNumber(adult.value)" >
												<option>1</option>
												<option>2</option>
												<option>3</option>
											</select>
											<span class="select-arrow"></span>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<span class="form-label">Children</span>
											<select #child class="form-control"(change)="getChildNumber(child.value)" >
												<option>0</option>
												<option>1</option>
												<option>2</option>
											</select>
											<span class="select-arrow"></span>
										</div>
									</div>
								</div>
								<div class="form-btn">
									<button class="submit-btn " (click)="addNewBook()"         [routerLink]="['/confirmbooking', HostProp.id]"
									>Book Now</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
