<!-- <app-header></app-header> -->
<router-outlet></router-outlet>

<h1>hello to our clone airbnb from wafaa</h1>

<!-- <app-users></app-users> -->
<router-outlet></router-outlet>
<!-- <app-hosts></app-hosts>  -->
<router-outlet></router-outlet>

<button
  pButton
  pRipple
  type="button"
  label="Info"
  class="p-button-outlined p-button-rounded p-button-info"
></button>

<p-button label="Submit"></p-button>
<button pButton type="button" label="Submit" class="p-button-text"></button>
<button pButton type="button" label="Success" class="p-button-success"></button>
<button pButton type="button" label="Emails" badge="8"></button>

