<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Airbnb</a>

      <div class="d-flex">

        <a routerLink="/signup" (click)="ShowNewNav()" class="btn btn-outline-primary" type="submit"
          >Sign Up</a
        >
        <button routerLink="/signin" [hidden]="isUserLogged" (click)="ShowNewNav()" class="btn btn-outline-success" type="submit">Sign In</button>
        <button routerLink="/logout" [hidden]="!isUserLogged" (click)="logout()" class="btn btn-outline-success" type="submit">logout</button>
        <button routerLink="/profile"  class="btn btn-outline-success" type="submit" >Profile</button>
      </div>
  </div>
</nav>
