<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand pointer">

      <i class="fa fa-globe" [routerLink]="['/home']"> vacation</i>
    </a>

      <div class="d-flex">

        <a routerLink="/signup" (click)="ShowNewNav()" class="btn btn-outline-primary" type="submit"
          >Sign Up</a
        >
        <button routerLink="/signin" [hidden]="isUserLogged" (click)="ShowNewNav()" class="btn btn-outline-success" type="submit">Sign In</button>
        <button routerLink="/logout" [hidden]="!isUserLogged" (click)="logout()" class="btn btn-outline-danger" type="submit">logout</button>
        <button routerLink="/profile"  class="btn btn-outline-success" type="submit" >Profile</button>
        <button routerLink="/host"  class="btn btn-outline-success" type="submit" >Became a Host</button>
        <!-- <button routerLink="/hostEdit"  class="btn btn-outline-danger" type="submit" >New Host</button> -->
        <button routerLink="/hostProfile"  class="btn btn-outline-danger" type="submit" >Host profile</button>
        <button routerLink="/booking"  class="btn btn-outline-danger" type="submit" >Booking</button>
        <button routerLink="/confirmbooking"  class="btn btn-outline-danger" type="submit" >confirmbooking</button>




      </div>
  </div>
</nav>
