<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<nav class="navbar bg-light">
  <div class="container-fluid">
    <i class="fa fa-globe" [routerLink]="['/home']"> vacation</i>

      <div class="d-flex">

        <a routerLink="/home" (click)="mainNav()"  class="btn btn-outline-primary" type="submit"
          >back</a
        >

      </div>
  </div>
</nav>
