<div class="container text-center p-5  ">
  <div class="row flex-container">
    <div class="col-6  bk text-light w card " id="container">
      What Kind of place will you host?
    </div>
    <div class="col-6 input card ">
      <!-- first -->
      <!-- start button list -->
      <div class="dd-none">

      <div class="w">

          <div class="input-container w">
            <input id="1" type="checkbox" name="1" value="1">
            <label for="1"><span>Option</span></label>
          </div>
          <div class="input-container">
            <input id="2" type="checkbox" name="2" value="2">
            <label for="2"><span>Option</span></label>
          </div>
          <div class="input-container">
            <input id="3" type="checkbox" name="3" value="3">
            <label for="3"><span>Option</span></label>
          </div>
          <div class="input-container">
            <input id="4" type="checkbox" name="4" value="4">
            <label for="4"><span>Option</span></label>
          </div>
          <div class="input-container">
            <input id="5" type="checkbox" name="5" value="5">
            <label for="5"><span>Option</span></label>
          </div>
          <div class="input-container ">
            <input id="6" type="checkbox" name="6" value="6">
            <label for="6"><span>Option</span></label>
          </div>

          <!-- <input type="submit" class="button" value="Next &raquo;"> -->

      </div>

      </div>










        <!-- <input type="text" placeholder="first group" class=" first w" >
        <input type="text" placeholder="first group" class=" first w" >
        <input type="text" placeholder="first group" class=" first w" > -->

      <!-- sec -->

      <input type="text" placeholder="sec group" class=" sec d-none" >
      <input type="text" placeholder="sec group" class=" sec d-none" >
      <input type="text" placeholder="sec group" class=" sec d-none" >

      <!-- third -->

      <input type="text" placeholder=" group" class=" th d-none" >
      <input type="text" placeholder=" group" class=" th d-none" >
      <input type="text" placeholder=" group" class=" th d-none" >
       <br>
      <button (click)="myfun()" class=" first btn btn-primary btn-lg"  >next</button>
      <button (click)="myfun2()"  class=" sec d-none btn btn-primary btn-lg" >next 2</button>
    </div>
  </div>

