.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}
.bk{
  background: url('https://bootdey.com/img/Content/bg1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline;
  height: 100vh;
  padding: 10px;
  flex: 50%;
}
.input{
  /* display: inline; */
  height: 100vh;
  background-color: beige;
}


/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;

  }
  .input{
  width: 100%;

  }

}
.w{
  width: 100%;
}
/* buttons list  */
.input-container {
  position: relative;
  display: inline-block;
  width: 90%;
  height: 80px;
  margin-left: 20px;
  margin-top: 8px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + label {
  background-color: rgb(138, 58, 147);
}

.label {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 5px;
  padding: 0 10px;
  color: #fff;
  text-align: center;
  line-height: 70px;
  background-color: #ccc;
  border-radius: 4px;
}

label:hover {
  cursor: pointer;
  transition: background-color .3s ease;
}

label:hover, input[type="checkbox"]:checked + label:hover {
  background-color: rgb(157, 70, 160);
}

label span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
/* .card{
  display: inline-block;
    padding: 40px;
} */

#container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.marg{

  margin-left: 300px;
}
input, label {
  margin: 5px 5px;
}

.form-group {
  margin: 30px auto;
  width: 450px;
}

.form-control {
  float: left;
}

#inputStreet {
  width: 100%;
}

#inputCity {
  width: 50%;
}

#inputState {
  width: 15%;
}

#inputZip {
  width: 28%;
}

#inputCounty {
  width: 45%;
}

#inputCountry {
  width: 50%;
}

.fv{
  margin-top: 40px;
}


