<div class="hosuse-details">
    <div class="hosuse-title">
        <h1>{{HostProp.name}}</h1>
        <div class="row">
            <div>
                <li class="fas fa-star"></li>
                <li class="fas fa-star"></li>
                <li class="fas fa-star"></li>
                <li class="fas fa-star"></li>
                <li class="fas fa-star-half-alt"></li>
                <span>245 Reviwes</span>
            </div>
            <div>
                <p>Location:{{HostProp.address}}</p>
            </div>
        </div>
    </div>
    <div class="gallery">
        <div class="gallery-img-1"><img src="./assets/images/house-1.png" alt="" /> </div>
        <div><img src="./assets/images/house-2.png" alt="" /></div>
        <div><img src="./assets/images/house-3.png" alt="" /></div>
        <div><img src="./assets/images/house-4.png" alt="" /></div>
        <div><img src="./assets/images/house-5.png" alt="" /></div>
    </div>
    <div class="small-details">
        <h2>{{HostProp.description}}</h2>
        <p>{{HostProp.accomodatesCount}} guests &nbsp; {{HostProp.bedroomCount}} Rooms &nbsp; {{HostProp.bedCount}} beds &nbsp; &nbsp; {{HostProp.bathroomCount}} bathroom</p>
        <h4> {{HostProp.price}} {{HostProp.currency?.name}} / day </h4>
    </div>
    <hr class="line">
    <form class="check-form">
        <!-- <div>
            <label>Check-in</label>
            <input type="text" placeholder="Add date">
        </div>

        <div>
            <label>Check-out</label>
            <input type="text" placeholder="Add date">
        </div>

        <div class="guest-filed">
            <label>Guest</label>
            <input type="text" placeholder="2 guest">
        </div> -->
        <p>Book your blace now </p>
        <button type="submit" routerLink="/booking">Booking Now </button>
    </form>

    <ul class="details-list">
        <li><i class="fas fa-home"></i>Place Type<span>{{HostProp.propertyType?.name}}</span></li>
        <li><i class="fas fa-bed"></i>Room Type<span>{{HostProp.roomType?.name}}</span></li>
        <li><i class="fas fa-hand-holding-heart"></i>Category Type <span>{{HostProp.category?.name}}</span></li>
        

    </ul>
    <hr class="line">
    <p class="home-desc">{{HostProp.description}}</p>
    <hr class="line">
    <div class="map">
        <h3>Location on map</h3>
        <iframe
            src={{HostProp.latitude}}
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        <b>{{HostProp.address}}</b>
        <p>It's like a home away from home.</p>
    </div>
    <hr class="line">

    <div class="host">
        <img src="./assets/images/host.png" alt="" />
        <div>
            <h2>Hosted by {{HostProp.user?.firstName}}</h2>
            <p><span>
                    <li class="fas fa-star"></li>
                    <li class="fas fa-star"></li>
                    <li class="fas fa-star"></li>
                    <li class="fas fa-star"></li>
                    <li class="fas fa-star-half-alt"></li>
                </span> &nbsp; &nbsp; 245 reviews &nbsp; &nbsp; Response rate 100% &nbsp;&nbsp; Response time: 60 min
            </p>
        </div>
    </div>
        <div class="container">
            <div class="footer">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-youtube"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                    <hr>
                    <p>Copyright &copy; 2022 ITI </p>
            </div>
         </div>
       </div> 
    