


<nav class="navbar bg-danger p-3  bg-opacity-75 ">
  <div class="container-fluid d-flex justify-content-center">
    <span class="navbar-brand mb-0 h1 text-white font">WELCOME TO HOST</span>
  </div>
</nav>
<div class="accordion w-50 p-3 center" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button bg-danger p-3 bg-opacity-50" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        What Kind of place will you host?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="list-group" *ngFor="let item of cat">
          <a id="current" href="#" class="list-group-item list-group-item-action bg-light p-3  " aria-current="true" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                {{item.name}}   </a>
          <!-- <a href="#" class="list-group-item list-group-item-action bg-light p-3  " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">A second link item</a>
          <a href="#" class="list-group-item list-group-item-action bg-light p-3 " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" >A third link item</a>
          <a href="#" class="list-group-item list-group-item-action bg-light p-3 " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">A fourth link item</a>
          <a class="list-group-item list-group-item-action bg-light p-3 " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">A disabled link item</a> -->
        </div>
 </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed p-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        What Kind of space will guests have ?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="list-group">
          <a id="current" href="#" class="list-group-item list-group-item-action bg-light p-3  " aria-current="true" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree">
            The current link item
          </a>
          <a href="#" class="list-group-item list-group-item-action bg-light p-3  " type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree">A second link item</a>
          <a href="#" class="list-group-item list-group-item-action bg-light p-3 " type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" >A third link item</a>

        </div>
        <!-- <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow. -->
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed bg-danger p-3 bg-opacity-50" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
       Which of these best describes your place ?
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="list-group">
          <a id="current" href="#" class="list-group-item list-group-item-action bg-light p-3  " aria-current="true" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour">
            The current link item
          </a>
          <a href="#" class="list-group-item list-group-item-action bg-light p-3  " type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour">A second link item</a>
          <a href="#" class="list-group-item list-group-item-action bg-light p-3 " type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" >A third link item</a>

        </div>
        <!-- <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow. -->
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed p-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Where is your place located ?
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed bg-danger p-3 bg-opacity-50" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        How many guests would you like to welcome ?
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSix">
      <button class="accordion-button collapsed p-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        Let guests Know what your place has to offer
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>




