<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<!--<title>Responsive Regisration Form </title>-->

<body class="accordion-item">
    <div class="container">
        <div class="d-flex align-items-center mb-3 pb-1">
            <!-- <i class="fa fa-futbol-o mb-3 mx-2" aria-hidden="true"></i> -->
            <i class="fa fa-house-user mb-3 mx-2" aria-hidden="true"></i>
            <span routerLink="" class="h3 fw-bold mb-3" style="color: #2fa7ab;"> Host everything , every where</span>
        </div>
        <h4 class="t-orange1" style="color: #2fa7ab">Registration</h4>
        <div class="new">
            <div class="form first" style="overflow-y: scroll; height:400px;">
                <div class="details personal">
                    <span class="title ">
                        <p class="t-orange1" style="color: #2fa7ab">Place Details </p>
                    </span>

                    <div class="fields">
                        <!-- <div class="input-field">
                         <label >First Name</label>
                         <input formControlName="fname" type="text" placeholder="Enter your first name" required>
                     </div> -->
                        <div class="input-field">
                            <label>Property Type </label>
                            <select #prop data-live-search="true" (change)="getProPTypeID(prop.value)" [(ngModel)]="newProp.propertyTypeId">
                                <option *ngFor="let item of propType" [value]="item.id">{{item.name}}</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <label>Room Type </label>
                            <select #room data-live-search="true" (change)="getRoomTypeId(room.value)" [(ngModel)]="newProp.roomTypeId">
                                <option *ngFor="let item of roomType" [value]="item.id">{{item.name}}</option>

                            </select>
                        </div>
                        <div class="input-field">
                            <label>Property Name</label>
                            <input type="text" placeholder="Enter your Prperty Name" [(ngModel)]="newProp.name">
                        </div>
                        <div class="input-field">
                            <label>Description </label>
                            <input type="text" placeholder="About your" [(ngModel)]="newProp.description">
                        </div>


                        <div class="input-field">
                            <label>Features</label>
                            <select #cat data-live-search="true" (change)="getCatID(cat.value)"
                                [(ngModel)]="newProp.categoryId">
                                <option *ngFor="let item of category" [value]="item.id">{{item.name}}</option>
                            </select>


                        </div>
                        <!-- <div class="input-field">
                      <label>Extra Features</label>
                      <select #subcat data-live-search="true"(change)="getSubCatId(subcat.value)">
                          <option  *ngFor="let item of subCategory" [value]="item.id">{{item.name}}</option>
                      </select>


                  </div> -->
                        <div class="input-field">
                            <label>Address</label>
                            <input type="text" placeholder="Enter your Address" [(ngModel)]="newProp.address">
                        </div>

                        <div class="input-field">
                            <label>Place Location </label>
                            <input type="text" placeholder="Enter Your Location Url" [(ngModel)]="newProp.latitude">
                        </div>

                        <div class="input-field">
                            <label>Country</label>
                            <select #country data-live-search="true" (change)="getCountryId(country.value)"  [(ngModel)]="newProp.countryId">
                                <option *ngFor="let test of Countries" [value]="test.id">{{test.name}}</option>

                            </select>
                        </div>
                        <div class="input-field">
                            <label>City</label>
                            <select #city data-live-search="true" (change)="getCityId(city.value)" [(ngModel)]="newProp.cityId">
                                <option *ngFor="let test of Cities" [value]="test.id">{{test.name}}</option>

                            </select>
                        </div>

                    </div>
                </div>

                <div class="details ID">
                    <span class="title">Identity Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>No of BedRoom</label>
                            <input type="number" placeholder="Number of Bedroom" [(ngModel)]="newProp.bedroomCount">
                        </div>

                        <div class="input-field">
                            <label>No of Bed</label>
                            <input type="number" placeholder="Number of Bed" [(ngModel)]="newProp.bedCount">
                        </div>
                        <div class="input-field">
                            <label>No of Bathroom</label>
                            <input type="number" placeholder="Number of Bathroom" [(ngModel)]="newProp.bathroomCount">
                        </div>
                        <div class="input-field">
                            <label>No of Guest</label>
                            <input type="number" placeholder="Place Capacity" [(ngModel)]="newProp.accomodatesCount">
                        </div>

                        <div class="input-field">
                            <label>Price </label>
                            <input type="number" placeholder="Enter your Price" [(ngModel)]="newProp.price">
                        </div>

                        <div class="input-field">
                            <label>Curency</label>
                            <select #curn data-live-search="true" (change)="getCurencyId(curn.value)" [(ngModel)]="newProp.currencyId">
                                <option *ngFor="let item of curency" [value]="item.id">{{item.name}}</option>

                            </select>
                        </div>


                        <form action="" [formGroup]="form">
                            <div class="input-field">
                                <label>Upload Your place photo</label>
                                <input type="file" class="form-control" placeholder="Upload your place photo"
                                    (change)="uploadPhoto($event.target)">
                                <label>{{status}}</label>
                            </div>
                        </form>



                    </div>


                    <input type="submit" value="Add Property" class="btn t-white1 bg-teal1 " (click)="addNewProperty()"
                        routerLink="/hostProfile">

             <input type="submit" value="Add Property" class="btn t-white1 bg-teal1 " (click)="addNewProperty()" >

             </div>
         </div>


        </div>
    </div>

</body>
